/** overriding dtm default styles */

body {
  background-attachment: fixed;
  background-color: white;
  background-image: url(http://www.zastavki.com/pictures/1920x1200/2012/Space_Red_space_033992_.jpg);
  background-size: cover;
  opacity: .75;
}

.kc-features {
  display: block;
  margin: -1em 0 2em 2.7em;
  text-decoration: none;
}
.kc-features i {
  font-style: normal;
  text-decoration: underline;
}
.dtm-footer p {
  max-width: none;
}
